.single-service{
   background-color: #1783b5a6;
}
.details{
   width:100%;
   height:750px;
   background-color: #4b17b5;
   
   background-size: cover;
   background-color: burlywood;
   border-radius: 25px;
}
.details-btn{
   background-color: rgba(190, 86, 21, 0.886);
   border: none;
   margin: 15px;
  
}
.details-btn:hover{
   background-color: rgba(0, 128, 0, 0.605);
}
.details-btn u {
   color: blue;
}
.cardss:hover{
   background-color: rgba(216, 191, 216, 0.763);
}
.cardss{
   background-color: rgba(211, 216, 191, 0.818);
   border-radius: 5px;

}