.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
   /* position: relative;
   background-color: #4b17b5;
   background-image: url(../../../BANNER.jpg);
   background-size: cover;
   margin-bottom: 10px; */
  
}
@media only screen and (max-width:688px) {
   .reg-input{

      width:600px;
      height:600px;
    
   }
   .my-row{
      display: block;
     
         }
   
}

@media only screen and (min-width:689px) and (max-width: 991px){
   .reg-input{

      width:600px;
      height:600px;
   
   }
   .my-row{
      display: flex;
      flex-direction: row;
      
         }}